doctype html
html
  head
    // Includes

    link(rel='stylesheet', href='/stylesheets/style121618.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/fa/fontawesome.min.js", defer)
    script(src="/fa/fontawesome-all.min.js", defer)
    script(src="/fa/fa-custom.js", defer)

    // Global scripts
    script.
      // Load font stylesheet
      $("head").ready(function () {
        $("<link>")
                .attr("rel", "stylesheet")
                .attr("type", "text/css")
                .attr("href", "https://fonts.googleapis.com/css?family=Bitter")
                .appendTo($("head"));
      });

      // Handle smooth scrolling on button click
      $(document).ready(function () {

        $("a").click(function (event) {
          if (this.hash !== "") {
            event.preventDefault();

            $("html, body").animate({
              scrollTop: $(this.hash).offset().top,
              duration: 500
            });
          }
        });
      });

    // /Includes
    // Meta data

    - defaultColor = "#445443"
    - pageName = "Erik Roberts"
    - description = "Hi, my name is Erik Roberts, full-stack developer."
    - pageUrl = "https://bugg.co/"

    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon', href='/favicon.ico?', type="image/x-icon")

    meta(name='Content-Type', content='text/html', charset='utf-8')
    meta(name="description", content="Home page for Erik Roberts, full-stack developer. Learn about me and my projects.")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content=pageName)
    meta(name="application-name", content=pageName)
    meta(name="msapplication-tooltip", content=description)
    meta(name="msapplication-starturl", content=pageUrl)

    link(rel="apple-touch-icon" sizes="256x256" href="/favicon.ico")
    link(rel="apple-touch-icon" sizes="360x360" href="/images/buggy.png")
    meta(name="msapplication-TileImage" content="/images/buggy.png")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@bugfroggy")
    meta(name="twitter:image" content="/images/buggy.png")
    meta(name="twitter:title" content=pageName)
    meta(name="twitter:description" content=description)
    meta(property="og:type" content="website")
    meta(property="og:title" content=pageName)
    meta(property="og:description" content=description)
    meta(property="og:url" content=pageUrl)
    meta(property="og:image" content="/images/buggy.png")
    meta(name="theme-color", content=defaultColor)
    meta(name="msapplication-TileColor", content=defaultColor)
    meta(name="msapplication-navbutton-color", content=defaultColor)
    meta(name="google-site-verification" content="jjl0LF3KeQ74RgGDiRif7d1f2N13eFpXU5jvemRrLWA")

    // /Meta data
    block head
  body
    block content
